/*!
Theme Name: hsw-theme
Theme URI: http://underscores.me/
Author: razdva
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hsw-theme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

hsw-theme is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
@font-face {
  font-family: "Boxed";
  src: url("BoxedHeavy-Italic.eot");
  src: local("Boxed Heavy Italic"), local("BoxedHeavy-Italic"),
    url("BoxedHeavy-Italic.eot?#iefix") format("embedded-opentype"),
    url("BoxedHeavy-Italic.woff2") format("woff2"),
    url("BoxedHeavy-Italic.woff") format("woff"),
    url("BoxedHeavy-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedRegular-Bold.eot");
  src: local("Boxed Regular Bold"), local("BoxedRegular-Bold"),
    url("BoxedRegular-Bold.eot?#iefix") format("embedded-opentype"),
    url("BoxedRegular-Bold.woff2") format("woff2"),
    url("BoxedRegular-Bold.woff") format("woff"),
    url("BoxedRegular-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedMedium-Italic.eot");
  src: local("Boxed Medium Italic"), local("BoxedMedium-Italic"),
    url("BoxedMedium-Italic.eot?#iefix") format("embedded-opentype"),
    url("BoxedMedium-Italic.woff2") format("woff2"),
    url("BoxedMedium-Italic.woff") format("woff"),
    url("BoxedMedium-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedSemibold-Italic.eot");
  src: local("Boxed Semibold Italic"), local("BoxedSemibold-Italic"),
    url("BoxedSemibold-Italic.eot?#iefix") format("embedded-opentype"),
    url("BoxedSemibold-Italic.woff2") format("woff2"),
    url("BoxedSemibold-Italic.woff") format("woff"),
    url("BoxedSemibold-Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedThin-Italic.eot");
  src: local("Boxed Thin Italic"), local("BoxedThin-Italic"),
    url("BoxedThin-Italic.eot?#iefix") format("embedded-opentype"),
    url("BoxedThin-Italic.woff2") format("woff2"),
    url("BoxedThin-Italic.woff") format("woff"),
    url("BoxedThin-Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedExtralight-Italic.eot");
  src: local("Boxed Extralight Italic"), local("BoxedExtralight-Italic"),
    url("BoxedExtralight-Italic.eot?#iefix") format("embedded-opentype"),
    url("BoxedExtralight-Italic.woff2") format("woff2"),
    url("BoxedExtralight-Italic.woff") format("woff"),
    url("BoxedExtralight-Italic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedRegular.eot");
  src: local("Boxed Regular"), local("BoxedRegular"),
    url("BoxedRegular.eot?#iefix") format("embedded-opentype"),
    url("BoxedRegular.woff2") format("woff2"),
    url("BoxedRegular.woff") format("woff"),
    url("BoxedRegular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedRegular-Italic.eot");
  src: local("Boxed Regular Italic"), local("BoxedRegular-Italic"),
    url("BoxedRegular-Italic.eot?#iefix") format("embedded-opentype"),
    url("BoxedRegular-Italic.woff2") format("woff2"),
    url("BoxedRegular-Italic.woff") format("woff"),
    url("BoxedRegular-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedLight.eot");
  src: local("Boxed Light"), local("BoxedLight"),
    url("BoxedLight.eot?#iefix") format("embedded-opentype"),
    url("BoxedLight.woff2") format("woff2"),
    url("BoxedLight.woff") format("woff"),
    url("BoxedLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Boxed Book";
  src: url("BoxedBook-Italic.eot");
  src: local("Boxed Book Italic"), local("BoxedBook-Italic"),
    url("BoxedBook-Italic.eot?#iefix") format("embedded-opentype"),
    url("BoxedBook-Italic.woff2") format("woff2"),
    url("BoxedBook-Italic.woff") format("woff"),
    url("BoxedBook-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedMedium.eot");
  src: local("Boxed Medium"), local("BoxedMedium"),
    url("BoxedMedium.eot?#iefix") format("embedded-opentype"),
    url("BoxedMedium.woff2") format("woff2"),
    url("BoxedMedium.woff") format("woff"),
    url("BoxedMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedSemibold.eot");
  src: local("Boxed Semibold"), local("BoxedSemibold"),
    url("BoxedSemibold.eot?#iefix") format("embedded-opentype"),
    url("BoxedSemibold.woff2") format("woff2"),
    url("BoxedSemibold.woff") format("woff"),
    url("BoxedSemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedHeavy.eot");
  src: local("Boxed Heavy"), local("BoxedHeavy"),
    url("BoxedHeavy.eot?#iefix") format("embedded-opentype"),
    url("BoxedHeavy.woff2") format("woff2"),
    url("BoxedHeavy.woff") format("woff"),
    url("BoxedHeavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedRegular-BoldItalic.eot");
  src: local("Boxed Regular Bold Italic"), local("BoxedRegular-BoldItalic"),
    url("BoxedRegular-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("BoxedRegular-BoldItalic.woff2") format("woff2"),
    url("BoxedRegular-BoldItalic.woff") format("woff"),
    url("BoxedRegular-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedThin.eot");
  src: local("Boxed Thin"), local("BoxedThin"),
    url("BoxedThin.eot?#iefix") format("embedded-opentype"),
    url("BoxedThin.woff2") format("woff2"), url("BoxedThin.woff") format("woff"),
    url("BoxedThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Boxed Book";
  src: url("BoxedBook.eot");
  src: local("Boxed Book"), local("BoxedBook"),
    url("BoxedBook.eot?#iefix") format("embedded-opentype"),
    url("BoxedBook.woff2") format("woff2"), url("BoxedBook.woff") format("woff"),
    url("BoxedBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedLight-Italic.eot");
  src: local("Boxed Light Italic"), local("BoxedLight-Italic"),
    url("BoxedLight-Italic.eot?#iefix") format("embedded-opentype"),
    url("BoxedLight-Italic.woff2") format("woff2"),
    url("BoxedLight-Italic.woff") format("woff"),
    url("BoxedLight-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Boxed";
  src: url("BoxedExtralight.eot");
  src: local("Boxed Extralight"), local("BoxedExtralight"),
    url("BoxedExtralight.eot?#iefix") format("embedded-opentype"),
    url("BoxedExtralight.woff2") format("woff2"),
    url("BoxedExtralight.woff") format("woff"),
    url("BoxedExtralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-family: "Muli" !important;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
  background: #fff;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
a {
  color: #928600 !important;
}

a:visited {
  color: #800080;
}

a:hover,
a:focus,
a:active {
  color: #191970;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.main-navigation {
  display: block;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 1000px) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 0 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;

  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;

  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

.social-link {
  color: white !important;
  font-size: 14px;
}
.social-link:hover {
  text-decoration: none !important;
}
.header-socials {
  text-align: right;
}
.pre-header {
  background: #212121;
  padding: 8px;
}
.pre-header__desc {
  text-align: center;
  color: white !important;
  font-size: 14px;
  margin: 0;
}
.pre-header__desc a {
  color: white !important;
}
.pre-header__desc a:hover {
  text-decoration: none;
}

.header-logo {
  padding: 10px 0;
}
.main-navigation {
  background: #f9e402 !important;
  position: relative;
  padding: 2px 0;
}
.main-navigation ul {
  justify-content: center !important;
}

.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 40px;
}
.header-input {
  width: 100%;
  padding: 15px 40px !important;
  box-shadow: 0px 3px 5px #00000033;
  font-size: 12px;
  color: #757575 !important;
  outline: none;
}
.header-search-img {
  position: absolute;
  left: 25px !important;
  display: block;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: url(images/icons/arrow-right.svg) !important;
  padding: 0 5px !important;
}
.breadcrumb-link img {
  top: -3px;
  position: relative;
}
.breadcrumb-link:hover,
.contact-info__link:hover {
  text-decoration: none;
  transition: linear 0.2s all;
  color: #777777 !important;
}

.basket__title:hover,
.basket__title:focus,
.user-link:hover,
.user-link:focus {
  color: #928600 !important;
  transition: linear 0.2s all;
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item {
  padding: 0 2px !important;
}
.menu-item a {
  font-size: 16px;
  padding: 10px 18px;
  color: #212121 !important;
  font-weight: 700;
}
.blog-posts .breadcrumb-section {
  margin-bottom: 48px;
}
section.blog-posts {
  margin-bottom: 128px;
}
.menu-item:last-child:after {
  border-right: none !important;
}

.nav-menu .menu-item:after {
  content: "";
  border-right: 1px solid #928600;
  /* margin-left: 20px; */
  display: block;
  z-index: 1000;
  top: 15px;
  height: 16px;
  right: 0;
  position: absolute;
}
.menu-item:last-child {
  border-right: none !important;
}

.basket__img {
  float: left;
  margin-right: 10px;
}
.basket {
  border-right: 1px solid #424242;
  padding-right: 15px;
}
.basket__title,
.user-link {
  color: #424242 !important;
}

.header-bar {
  background: #fafafa;
  padding: 11px 0;
}

.user {
  display: flex;
  align-items: center;
  height: 100%;
}

.user-item {
  display: inline-block;
  margin-right: 3px;
}
.user-link-log:after {
  margin-left: 5px;
  content: "";
  background: #424242;
  height: 15px;
  width: 1px;
  position: absolute;
  z-index: 9999;
  top: 5px;
  right: -4px;
}

.user-items {
  padding-left: 20px !important;
}

.user-img {
  margin-right: 10px;
}

.main {
  background-image: url("images/Foto/farba1.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 40%;
  position: relative;
}
.services-btn {
  font-size: 13px !important;
}
.main:after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 20px;
  background: #212121;
  right: 0;
  width: 43%;
  height: 568px;
  z-index: -9;
}

.main:before {
  content: "";
  background: url(images/graficke-prvky/S-logo-homepage1.svg) no-repeat;
  width: 345px;
  height: 100%;
  top: 5%;
  right: 0;
  position: absolute;
  z-index: -3;
}

.main-img {
  width: 100%;
  height: 488px;
  object-fit: cover;
  border: 1px solid #424242;
  border-radius: 3px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.125);
}
.main-box__title {
  font-size: 54px;
  font-weight: 600;
}
.main-box__title-span {
  text-decoration: underline;
  font-weight: 300;
  font-weight: bolder;
}
.main-box__title:after {
  content: "";
  width: 368px;
  background-color: #fdef58 !important;
  position: relative;
  height: 16px;
  display: block;
  top: -18px;
  z-index: -9;
}
.woocommerce-products-wrapper .woocommerce-ordering,
.woocommerce-products-wrapper .woocommerce-result-count {
  display: none;
}

.category-box__img {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #212121;
  height: 215px;
  object-fit: cover;
}

.main-content {
  margin-top: 100px;
  margin-bottom: 300px;
}

.main-box__desc {
  font-size: 18px;
  width: 400px;
  margin-top: 30px;
  color: #424242 !important;
  margin-bottom: 50px;
}

.main-box__btn,
.technologies-box__detail,
.product_type_variable {
  color: #212121 !important;
  background: #fdef58 !important;
  padding: 14px 20px !important;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #212121 !important;
  box-shadow: 0px 3px 5px #0000002a;
}
.main-box__btn:hover,
.main-box__btn:focus,
.products-box__btn:hover,
.products-box__btn:focus,
.technologies-box__detail:hover,
.button-detail-product:hover,
.product_type_variable:hover {
  outline: none;
  box-shadow: 0px 15px 20px #bbab005b !important;
  background: #edd900 !important;
  transition: linear 0.2s all;
  text-decoration: none;
}
.woocommerce table.shop_attributes td p {
  width: 250px;
}

.product-detail-box {
  margin: 50px 0px;
}

.p-cat .add-to-card__stock {
  top: -107px;
  position: relative;
  left: 0px;
  width: auto;
  padding-bottom: 5px;
  text-align: left;
}

.p-cat .add-to-card__wrap {
  display: block;
  height: 80px;
  margin-top: 20px;
  padding-bottom: 80px;
}

.nav-menu .menu-item a:hover {
  color: #6b6202 !important;
  transition: linear 0.2s all;
}
.nav-menu .menu-item a:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 80%;
  height: 2px;
  background: #6b62028c;
  content: "";
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  z-index: 999;
  transform: translateY(0px);
  margin: auto;
  right: 0;
}
.nav-menu .menu-item a:hover::before {
  opacity: 1;
  transform: translateY(-7px);
}
.related.products {
  text-align: center;
  position: relative;
}
div#tab-additional_information {
  float: right;
  top: 280px;
  position: absolute;
  right: 15px;
  width: 300px;
}
table.variations {
  display: inline-block;
}
.woocommerce div.product form.cart .variations select {
  width: 80px !important;
}
.woocommerce div.product p.price {
  padding-left: 0px !important;
  color: #928600;
}
.product_title.entry-title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  color: #6b6202;
  padding: 10px 0 !important;
}

.product_title.entry-title:after,
.product-detail-company__title:after {
  background: #bdbdbd;
  width: 100%;
  content: "";
  position: absolute;
  z-index: 999;
  height: 1px;
  left: 0;
  bottom: -5px;
}
.product-detail-right {
  width: 50%;
  float: right;
  position: absolute;
  right: 0;
}

.category-line {
  margin: 20px 0;
  padding: 20px 0;
}
.category-line:after {
  content: "";
  width: 97%;
  background: #bdbdbd;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.contact-form__title--secondary {
  font-size: 20px !important;
}

div#tab-additional_information h2 {
  display: none;
}
.woocommerce div.product form.cart div.quantity {
  float: none;
  margin: 20px 4px 20px 0;
}
.woocommerce .button.button.alt {
  background: #fdef58 !important;
  color: #212121 !important;
  border: 1px solid #212121;
  z-index: 999;
}

.product-detail-box__title {
  font-size: 20px;
  font-weight: bold;
  color: #928600;
  margin-bottom: 30px;
  position: relative;
}
.product-detail-box__title:after {
  content: "";
  background: #707070;
  width: 106px;
  position: absolute;
  left: 0;
  height: 1px;
  bottom: -15px;
}

.about {
  position: relative;
}

.about-bcg {
  text-align: center;
  height: 656px;
  background: url("./images/Foto/Homepage-onas.jpg") no-repeat 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 10;
}
.about-bcg:before {
  background: linear-gradient(90deg, #fdef58 0, #fdef58 100%);
  content: "";
  position: absolute;
  right: 20px;
  left: 20px;
  opacity: 87%;
  top: 20px;
  bottom: 20px;
}

.about-content,
.page-support-content {
  background: #f5f5f5;
}
.support-content__title {
  font-size: 34px !important;
  margin: 30px 0 !important;
}
.support-content__subtitle {
  margin: 30px 0;
  font-weight: bold;
  font-size: 20px;
}

.about__title {
  font-size: 54px;
  font-weight: 900;
}
.about__title:after {
  content: "";
  width: 200px;
  background-color: white !important;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  height: 8px;
  display: block;
}

.about__content-wrap {
  width: 70%;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 10px;
}
.about__content {
  font-size: 18px;
  font-weight: bold !important;
}
.about__btn-wrap {
  padding: 50px 0;
  margin-bottom: 100px;
}
.about__btn {
  background-color: #212121;
  color: white !important;
  padding: 15px 30px;
  box-shadow: 0px 3px 5px #0000002a;
  border-radius: 3px;
}
.about__btn:hover,
.about__btn:focus,
.blog__button:hover,
.blog__button:focus,
.contact-form__btn:focus,
.contact-form__btn:hover,
.our-services__btn:focus,
.our-services__btn:hover,
.technologies__btn:hover,
.technologies__btn:focus {
  outline: none;
  color: #fdef58 !important;
  transition: linear 0.2s all;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.303);
  text-decoration: none;
}
.newsletter__buton:hover,
.newsletter__buton:focus {
  outline: none;
  color: #fdef58 !important;
  transition: linear 0.2s all;
  text-decoration: none;
}
.news__btn:hover,
.news__btn:focus,
.technologies-box__contact:hover {
  outline: none;
  background: #eeeeee !important;
  text-decoration: none;
  transition: linear 0.2s all;
}
.features-box {
  text-align: center;
  margin: 200px 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #bdbdbd;
  width: 100% !important;
  padding: 30px 0 !important;
  height: 400px;
  background: white;
  border-radius: 3px;
}
.features-box__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  height: 90px;
  padding: 15px 20px;
  position: relative;
}
.features-box__content {
  color: #424242 !important;
  padding: 0 20px;
  margin-bottom: 50px;
}

.features-box__img {
  margin: auto;
  height: 100px;
}
.features-box__title:after {
  content: "\9670";
  background: #bbac00;
  width: 10px;
  height: 10px;
  position: absolute;
  font-size: 0;
  transform: rotateZ(45deg);
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
}
.newsletter__title:after {
  content: "\9670";
  background: #bbac00;
  width: 10px;
  height: 10px;
  position: absolute;
  font-size: 0;
  transform: rotateZ(45deg);
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
}

.woocommerce span.onsale {
  width: 50px;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 100% !important;
}
.woocommerce-MyAccount-navigation-link {
  padding: 10px !important;
  font-weight: 600;
  border: 0.5px solid #bdbdbd;
}
.woocommerce-MyAccount-navigation-link a {
  color: #212121 !important;
  font-size: 14px;
}
.woocommerce-MyAccount-navigation-link a:hover {
  text-decoration: none;
  color: #212121;
}
.woocommerce-MyAccount-content {
  margin: 30px 0;
}
.woocommerce-account .woocommerce-MyAccount-content {
  width: 100%;
}

.woocommerce-MyAccount-navigation {
  background: #fafafa;
  border: 1px solid #bdbdbd;
  margin: 30px 0px;
}

.technologies-box__contact {
  border: 1px solid #bbac00;
  border-radius: 3px;
  color: #212121 !important;
  padding: 10px 10px;
}
.technologies-box__contact-wrap,
.technologies-box__detail-wrap {
  padding: 20px 0 !important;
}
.technologies-box {
  border: 1px solid grey;
  margin-bottom: 30px;
  border-radius: 3px;
  margin-top: 30px;
  box-shadow: 0px 3px 5px #0000002e;
}
.technologies-box__content {
  padding: 20px 15px 20px 20px;
}
.technologies-box__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.partners__title-wrap,
.about__title-wrap,
.news__title-wrap {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
.about__title-wrap {
  margin-top: 150px;
}
.partners__title,
.news__title {
  font-size: 36px;
  font-weight: 800;
}
.partners__title:after,
.our-services__title:after,
.news__title:after,
.technologies__title:after {
  content: "";
  width: 150px;
  background-color: #fdef58 !important;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  height: 8px;
  display: block;
}
.price {
  padding: 0px 30px 0px 30px !important;
}
.search-box h2 a:hover,
.search-box .search-button__wrap a:hover {
  text-decoration: none;
}

.partners-item__img-wrap {
  text-align: center;
  margin-bottom: 20px;
}
.partners-item__img {
  width: 100%;
  padding: 15px;
  height: 150px;
  object-fit: contain;
}
.partners {
  margin-bottom: 100px;
}

.newsletter {
  background-color: #fdef58;
  text-align: center;
  position: relative;
}
.newsletter__wrap {
  margin: 100px 0;
}
.newsletter__title {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0;
  position: relative;
}

.newsletter__input-wrap {
  position: relative !important;
  z-index: 99;
  width: 50%;
  right: 0;
  left: 0;
  margin: auto;
}

.wpcf7-form-control.wpcf7-submit.newsletter__buton {
  position: relative;
  width: 150px !important;
  top: -70px !important;
  right: 0px !important;
  padding: 15px !important;
  float: right;
  border-radius: 0px 3px 3px 0px !important;
}
.newsletter__buton {
  color: white !important;
  background-color: #212121 !important;
  padding: 13px 40px !important;
  font-weight: bold;
  font-size: 16px;
  margin-left: -5px;
  border-radius: 0px 3px 3px 0px !important;
  box-shadow: 3px 3px 5px #00000033;
  border: none !important;
}
.newsletter__input {
  padding: 10px 20px !important;
  border-radius: 3px 0px 0px 3px !important;
  color: #616161;
  font-weight: 300;
  border: 1px solid #212121 !important;
  box-shadow: 0px 3px 5px #00000033;
  display: block;
  width: 100%;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 3px !important;
}

.footer {
  background-color: #212121;
  position: relative;
}

.footer__img-wrap {
  margin: 50px 0;
  text-align: center;
  border-bottom: 1px solid #757575;
}
.footer__img {
  margin-bottom: 50px;
}

.footer-box__title {
  font-size: 18px;
  color: white !important;
  margin-bottom: 25px;
}
.footer-box__title:before {
  content: "";
  width: 200px;
  background-color: #6b6202 !important;
  left: 0;
  position: relative;
  height: 1px;
  display: block;
  bottom: -35px;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
.contact-img {
  margin-right: 10px;
}

.contact-item {
  margin-bottom: 10px;
}
.contact-link {
  color: #bdbdbd !important;
}
.footer-box__company {
  color: #bdbdbd;
}
.social-item {
  display: inline-block;
  margin-right: 15px;
}
.footer__copy {
  color: #bdbdbd;
  text-align: center;
  margin: 15px 0;
}

.support-page {
  text-align: center;

  background: url("./images/Foto/servis-head.jpg") no-repeat 100%;
  background-position: center center;
  height: 500px;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}
.support-page:before {
  background: linear-gradient(90deg, #fdef58 0, #fdef58 100%);
  content: "";
  position: absolute;
  right: 32px;
  left: 32px;
  opacity: 87%;
  top: 32px;
  bottom: 32px;
}

.support-page__title {
  font-size: 36px;
  font-weight: 800;
}
.support-page__title:after {
  content: "";
  width: 300px;
  background-color: white !important;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  height: 8px;
  display: block;
}
.support-content {
  background: #f5f5f5 !important;
}

.support-content__box {
  background: white;
  padding: 80px 60px;
  margin: auto;
  width: 920px;
  display: none;
}
.support-content__box--active {
  display: block;
}

.support-content__title,
.about-content__title,
.page-support-content__title {
  font-size: 24px;
  color: #928600;
  font-weight: bold;
  position: relative;
  margin-bottom: 32px;
}

.support-content__title:before,
.about-content__title:before,
.page-support-content__title:before {
  content: "";
  width: 65px;
  position: absolute;
  left: 0;
  bottom: -16px;
  background: #707070;
  height: 1px;
}
.support__img,
.about__img,
.page-support__img {
  margin-top: 32px !important;
  margin-bottom: 40px !important;
  width: 100%;
}

input {
  padding: 9px !important;
}

.contact-map,
.support-page {
  border-bottom: 8px solid #212121;
}
.support-content__article,
.about-content__article,
.page-support-content__article {
  font-size: 18px;
  font-weight: 300;
  color: #424242;
  margin-top: 10px;
}
iframe#gmap_canvas {
  width: 100%;
}

.product-atributes {
  position: relative;
  float: right;
  top: -200px;
}

li#tab-title-additional_information {
  display: none;
}
.woocommerce table.shop_attributes th {
  width: 160px;
  padding: 4px 25px;
  font-weight: 300;
}
.woocommerce table.shop_attributes {
  border: 1px solid #e0e0e0;
  width: 50%;
}

.woocommerce table.shop_attributes td p {
  margin: 0;
  padding: 4px 20px;
}
.product-detail-company__price--first {
  padding-bottom: 0px !important;
}
.product-detail-company__price.product-detail-company__price--second {
  margin-top: 15px;
}

.contact-info__title,
.contact-form__title {
  font-size: 24px;
  color: #928600;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
}

form.woocommerce-ordering .orderby {
  padding: 3px;
  border-radius: 3px;
  width: 290px;
}
.contact-info__title:after,
.contact-form__title:after,
.contact-info__items:after {
  content: "";
  width: 120px;
  position: absolute;
  left: 0;
  background: #707070;
  bottom: -15px;
  height: 1px;
}
.contact-info__items {
  margin-bottom: 30px !important;
  position: relative;
}

.contact-info__img {
  margin-right: 5px;
  width: 20px !important;
  object-fit: none;
}

.contact-info__item {
  margin-bottom: 8px;
  color: #424242;
}

.contact-info__link {
  color: #424242 !important;
}
.technology-detail__content-title {
  font-size: 24px;
  color: #928600;
  font-weight: bold;
}

.technology-detail__subtitle {
  color: #616161;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-bottom: 40px;
}
.technology-detail__subtitle:after {
  content: "";
  background: #707070;
  width: 65px;
  height: 1px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.technology-detail__items li {
  margin-bottom: 10px;
}
.contact-info,
.contact-form,
.technology-detail__content {
  padding: 30px 60px;
  box-shadow: 0px 3px 6px #00000031;
  margin: 100px 0;
  border: 1px solid #707070;
  border-radius: 3px;
  background: white;
}
.contact-form-desc {
  height: 600px;
}

.technology-detail__content,
.contact-form__technologie {
  height: 650px;
}
.technology-detail__contact,
.technology-detail__phone {
  font-weight: 300;
}
.contact-form-input {
  width: 100%;
  margin-bottom: 0px;
  padding: 0px !important;
}
.contact-form span {
  font-size: 14px;
  color: #424242;
  font-weight: 300;
}

.contact-form__btn {
  color: white !important;
  background: #212121 !important;
  padding: 15px 25px !important;
  margin-bottom: 20px;
  border-radius: 3px !important;
  box-shadow: 0px 3px 6px #0000002e;
}
.contact-form__btn-wrap {
  width: 150px;
}

textarea {
  padding: 10px;
  width: 100%;
}
.reviews_tab .active {
  display: none;
}
li#tab-title-reviews {
  display: none;
}
.search-box .entry-title {
  padding: 10px 25px;
  font-size: 18px;
  height: 67px;
}

.chw-widget.technologies-search ul li ul li ul li ul {
  list-style: disc;
  margin-left: 25px !important;
}

.posted_in {
  display: none;
}

.category-cat {
  background: #fffac6;
  border: 1px solid #000000;
  width: auto;
  font-size: 12px;
  padding: 5px 10px;
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  margin-right: 10px;
  z-index: 0;
}
.chw-widget li {
  padding: 10px;
}

.category-cat a {
  color: black !important;
}
.sku_wrapper {
  color: #424242;
  font-weight: bold;
}
.sku {
  font-weight: 300;
  color: #616161;
}
.breadcrumb-section {
  background: #f0f0f0;
  padding: 4px 0;
  z-index: 10;
  position: relative;
}
.site-main .sing-blog .breadcrumb-section {
  margin-bottom: 0px !important;
}

.contact .breadcrumb-section {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.111);
}
.breadcrumb {
  background: none !important;
}
.breadcrumb-link {
  font-size: 14px;
  color: #424242 !important;
}

.blog__img-wrap img {
  height: 223px;
  object-fit: cover;
}

.blog__title {
  color: #928600;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.sing-blog .blog__content .blog__title {
  margin-bottom: 30px;
  font-size: 24px;
}
.sing-blog .blog__content .blog__title:after {
  content: "";
  position: absolute;
  background: #928600;
  left: 0;
  width: 65px;
  bottom: -16px;
  height: 1px;
}
.sing-blog .blog__content .blog__text {
  font-size: 18px;
  color: #424242 !important;
  font-weight: 300;
}
.blog-post-items .sing-blog .blog__content .blog__title {
  margin-bottom: 10px;
  height: 45px;
  font-size: 20px;
  overflow: hidden;
}
.blog-post-items .sing-blog .blog__content .blog__title:after {
  background: none;
}

.button-detail-product {
  background: #fdef58 !important;
  color: #212121 !important;
  border: 1px solid #212121 !important;
  font-size: 16px;
  padding: 15px 25px !important;
}
.empty-col {
  margin-top: 64px;
}
.blog__button {
  background: #212121;
  color: white !important;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #0000002e;
  font-size: 14px;
  font-weight: 600;
}

.blog-post-items .sing-blog {
  border: 1px solid #757575;
  border-radius: 3px;
  box-shadow: 0px 5px 10px #0000002e;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
}

.blog-post-items .blog__content {
  padding: 20px;
}

.blog-post-items .sing-blog:before,
.sing-blog:before {
  content: "";
  background: #fdef58;
  position: absolute;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  height: 8px;
  top: -9px;
  z-index: 1;
  border-radius: 3px;
}

.blog-post-items .blog__button-wrap {
  margin: 30px 0;
}

.contact__required:after {
  content: "*";
  color: #d61736;
  font-size: 16px;
  margin-left: 2px;
}

.sing-blog {
  background: #f5f5f5 !important;
}

.search-title {
  margin: 30px 0 !important;
}

.search-box {
  margin: 35px 0px !important;
  box-shadow: 0px 3px 5px #00000040;
  border-radius: 3px;
  border: 1px solid #707070;
}
.add-to-card__wrap {
  display: flex;
  padding-left: 30px;
  align-items: center;
}
.add-to-card__stock {
  top: -8px;
  position: relative;
  left: 30px;
  font-size: 14px;
  color: #616161;
  width: 100px;
}

.woocommerce ul.products li.product .price {
  margin-bottom: 10px !important;
  color: #928600;
}
.products-search {
  margin: 20px 0 !important;
}
.sing-blog .blog__content {
  width: 920px;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  padding: 50px 60px;
  border-radius: 0px 0px 3px 3px;
}

.blog-post-items .sing-blog .blog__content {
  width: auto;
  padding: 25px;
}
.blog__date {
  font-size: 14px;
  color: #757575;
}
.news .sing-blog {
  border: 1px solid #757575;
  border-radius: 3px;
  box-shadow: 0px 5px 10px #0000002e;
  margin: 50px 0px;
  position: relative;
  height: auto !important;
}

.our-services__title-wrap,
.category__title-wrap {
  margin-bottom: 50px;
  margin-top: 100px;
}
.about-content__box h5 {
  font-weight: bold;
}
.blog-post-items .sing-blog .blog__text {
  font-size: 14px;
  color: #424242;
  height: 60px;
  overflow: hidden;
}

.news .sing-blog .blog__text {
  height: 60px;
  margin-bottom: 20px;
  font-size: 14px !important;
  font-weight: 300 !important;
}
.sing-blog .blog__content .attachment-post-thumbnail {
  height: auto;
}

.blog-boxs__link {
  color: #424242 !important;
}
.blog-boxs__link:hover {
  text-decoration: none;
}

.news-blog__content {
  padding: 30px;
  background: white;
  border-radius: 0px 0px 3px 3px;
}

.attachment-post-thumbnail {
  width: 100%;
  margin-bottom: 20px;
  height: 170px;
  object-fit: cover;
}
.page-title.search-title {
  visibility: visible;
}

.news .attachment-post-thumbnail,
.blog-post-items .attachment-post-thumbnail {
  margin-bottom: 0;
}

.category-front {
  position: relative;
  margin-bottom: 100px;
}
.category-front:before {
  content: "";
  background: #eeeeee;
  top: 320px;
  left: 0;
  width: 100%;
  position: absolute;
  height: 296px;
}
.category-box {
  margin-top: 10px;
  margin-bottom: 20px;
}

.category__title {
  text-align: center;
  font-size: 36px;
  position: relative;
  font-weight: bold;
}
.category__title:before {
  content: "";
  width: 45%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  background: #f9e402;
  height: 8px;
  bottom: -10px;
  z-index: -1;
}

.category-box__btn-wrap {
  text-align: center;
  position: relative;
  top: -20px;
}

.category-box__btn {
  color: #212121 !important;
  background: #f9e402;
  padding: 14px 10px;
  border: 1px solid #212121;
  border-radius: 3px;
  box-shadow: 0px 3px 6px #808080ad;
  display: block;
  margin: auto;
  width: 90%;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.category-box-arrow {
  margin-left: 10px;
  position: relative;
  top: -2px;
}

.category-box__btn:hover,
.category-box__btn:focus {
  text-decoration: none;
  background: #edd900;
  transition: linear 0.2s all;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.255);
}
.category-box__btn:hover > .category-box-arrow {
  transform: translateX(4px);
  transition: linear 0.2s all;
}

.cat-box {
  text-align: center;
  border: 1px solid #bbac00;
  background: #fffac6;
  margin-top: 50px;
  margin-bottom: 30px;
}
.cat-parent > a {
  display: none;
}

.cat-box__title {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 25px;
  font-weight: bold;
}

.cat-box__content {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.blog__button-wrap {
  padding: 15px 0;
}

.products-box__img {
  width: 100%;
  object-fit: cover;
  height: 170px !important;
}

.contact:before {
  content: "";
  background: url(./images/graficke-prvky/S-logo-homepage2.svg) no-repeat;
  width: 100%;
  height: 400px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}
.contact {
  position: relative;
  background: #fafafa;
}

.products-category__btn-wrap,
.technologies__btn-wrap {
  margin-top: 16px;
  margin-bottom: 0px;
}

.products-category__btn,
.technologies__btn,
.products-category__btn-js {
  color: white !important;
  text-align: center;
  border-radius: 3px !important;
  background: #212121;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 12px 10px !important;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.228);
  border-radius: 3px;
  border: none;
}

.technologie-widget__wrap {
  margin-bottom: 10px;
}

div#product-search-filter-attribute-0 {
  padding-left: 40px;
}
div#product-search-filter-attribute-0 ul li a span {
  position: relative;
  font-weight: 200;
  color: #424242;
}
div#product-search-filter-attribute-0 ul li a span:before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #bdbdbd;
  position: absolute;
  left: -20px;
  top: 6px;
  border-radius: 3px;
}
.product-search-attribute-filter-item.current-attribute > a {
  position: relative;
}
.product-search-attribute-filter-item.current-attribute > a:after {
  left: -19px !important;
  position: absolute;
  top: 2px;
  color: black;
}

.product-detail-box__content {
  overflow: hidden;
}

.products-category__btn-js:hover {
  color: #f9e402 !important;
  transition: linear 0.2s all;
}
.products-category__btn-js:focus {
  outline: none;
}
.products-category__btn--active {
  color: #f9e402 !important;
  position: relative;
}
.products-category__btn--active:before {
  content: "";
  height: 16px;
  position: absolute;
  background: #f9e402;
  width: 1px;
  z-index: 999 !important;
  top: 15px;
  left: 8px;
}

.products-category__btn--active:after {
  content: "";
  height: 16px;
  position: absolute;
  background: #f9e402;
  width: 1px;
  z-index: 999 !important;
  top: 15px;
  right: 8px;
}
.menu-item--active {
  color: red !important;
  background: green !important;
}
.search-submit {
  background: black !important;
  color: white !important;
}

.products-category__btn:hover {
  text-decoration: none;
  transition: linear 0.2s all;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.214);
  color: #f9e402 !important;
}

.products-box__title {
  font-size: 18px;
  font-weight: bold;
  height: 38px;
}
.products-box__subtitle {
  font-size: 14px;
  color: #707070 !important;
}
.products-box__btn {
  color: #212121 !important;
  background: #f9e402;
  padding: 14px 30px;
  border-radius: 3px;
  border: 1px solid #212121;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.248);
}
.products-box__btn-wrap {
  margin: 25px 0;
}
.products-box__price,
span.woocommerce-Price-amount.amount {
  color: #928600 !important;
  font-size: 22px;
  font-weight: bold;
  height: 30px;
}
.span.woocommerce-Price-amount.amount {
  font-size: 20px;
}

.product-type-variable .price .amount,
.product-type-simple .price .amount {
  font-size: 20px !important;
}

.woocommerce-loop-product__title {
  font-size: 16px !important;
  color: #212121 !important;
  text-align: left;
}

.button.product_type_simple,
.woocommerce-Button.button,
.woocommerce-form-login__submit,
.search-button {
  background: #fdef58 !important;
  border-radius: 3px;
  color: #212121 !important;
  border: 1px solid #212121 !important;
}
.search-button {
  padding: 10px;
}

.page-title {
  visibility: hidden;
}

.search-button__wrap {
  padding: 20px 0px 30px 20px !important;
}
.entry-title {
  font-size: 24px;
}
.woocommerce-pagination {
  margin: 30px 0px;
  text-align: right !important;
}
.woocommerce-error {
  display: none;
}

.not-found-title {
  padding: 30px 0px;
}

.woocommerce.columns-3 {
  margin-top: 50px !important;
}
.product-detail__wrapper {
  margin-top: 30px;
}
.cat {
  position: relative;
}
.technologie-widget__wrap div ul li {
  padding: 0px;
}

.sub-menu {
  background: #f7f7f7;
  display: inline-block !important;
  border: 1px solid #cecdcd;
  border-radius: 3px;
}
.sub-menu li a {
  font-size: 14px !important;
  font-weight: 700;
}
.sub-menu li a:after {
  border: none !important;
}
.nav-menu .sub-menu .menu-item:after {
  border-right: none !important;
}
.sub-menu .menu-item a:before {
  background: none !important;
}
.sub-menu li a:hover {
  background: #e4e4e4 !important;
}

.products-box__content {
  padding: 25px;
}
.products-box {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.18);
  margin-top: 30px;
  margin-bottom: 15px;
}

.technologies-box__year-span {
  font-weight: 300;
}
.cat .product-type-simple,
.product-type-variable {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.18) !important;
  border: 1px solid #424242;
  background: white;
}
.cat .woocommerce-loop-product__title {
  font-size: 18px !important;
  font-weight: bold;
  height: 38px;
  padding: 0 30px !important;
  height: 40px;
  overflow: hidden;
}
.cat .price {
  padding: 0px 30px 0px 30px !important;
  text-align: left;
  margin-bottom: 0px !important;
}
.woocommerce ul.products li.product .button {
  margin-bottom: 30px !important;
  margin-left: 0px !important;
  margin-top: 15px;
}

#product-search-filter-attribute-0 {
  border: 1px solid #bdbdbd;
  padding: 15px;
  background: #fafafa;
}

.woocommerce-product-gallery__image {
  padding: 10px;
}

form.woocommerce-ResetPassword.lost_reset_password {
  margin: 30px 0px !important;
}
#order_review_heading {
  margin-top: 50px;
  padding: 20px !important;
}
span.wpcf7-not-valid-tip {
  color: red;
}
a {
  outline: none;
}
a:focus {
  outline: none;
}

.product-search-product_cat-filter-item.current-cat > a:after,
.product-search-attribute-filter-item.current-attribute > a:after {
  font-family: "Font Awesome 5 Free Solid";
  font-weight: 900;
  font-size: 100%;
  content: "\2713" !important;
  vertical-align: middle;
  padding: 0px 1px;
}
.product-search-attribute-filter-item.current-attribute > a:after {
  font-family: "Font Awesome 5 Free Solid";
  font-weight: 900;
  content: "\2713";
  vertical-align: middle;
  padding: 0px 8px;
}

li#menu-item-292 {
  border-bottom: 1px solid #cecdcd;
}

.product-name a {
  color: #212121;
}
.products-box__available {
  float: right;
  position: absolute;
  top: -50px;
  right: 0;
}
.technology-detail__img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.technology-detail__title {
  font-size: 54px;
  margin: 20px 0;
  text-align: center;
  font-weight: bold;
}
.technology-detail__item {
  font-weight: bold;
  padding-right: 50px;
}
.technology-detail__item-span {
  font-weight: 500;
}

.technology-detail__title-wrap {
  background: #fdef58;
}
.technology-detail__price-box {
  font-size: 36px;
  color: #616161 !important ;
  font-weight: bold;
  margin: 20px 0px;
}
.technology-detail__tax {
  font-size: 16px;
  font-weight: 500;
}
.technology-detail__price {
  font-size: 36px;
  color: #928600 !important;
}
.products-box__available-wrap {
  position: relative;
}
.page-support-content__box h5 {
  font-weight: bold;
}

.slick-dots {
  left: 250px;
  position: absolute;
  z-index: 999;
}
.slick-dots li {
  display: inline-block;
  margin: 0px 15px;
}

.slick-dots .slick-active button {
  width: 13px;
  height: 13px;
  z-index: 999;
  background: #f9e402;
  outline: none;
}
.social-img {
  position: relative;
  top: -3px;
}

.slick-dots li button {
  background: #d3d1d1;
  border: none;
  font-size: 0;
  width: 12px;
  height: 12px;
  border: none;
  z-index: 100;
}

.slick-slide:focus {
  outline: none;
}

input {
  width: 100%;
}

label {
  width: 100%;
}

.services .support-page {
  height: 336px;
}

.our-services__img {
  width: 100%;
  box-shadow: 0px 15px 20px #00000040;
  border-radius: 3px;
  border: 1px solid #707070;
  height: 320px;
  object-fit: cover;
}

.our-services__title {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 150px;
}

.our-services__content {
  background: #fdef58;
  padding: 45px 50px 30px 130px;
  margin-bottom: 220px;
  height: 320px;
}
.our-services__content:before {
  content: url(./images/icons/services-mask.svg);
  z-index: -1;
  position: absolute;
  left: 15px;
  top: 0px;
}
.our-services__img-wrap:after {
  content: url(./images/graficke-prvky/Kosostvorce-homepage-sluzby.svg);
  position: absolute;
  left: 0;
  bottom: -200px;
}

.our-services__col-image-right .our-services__img-wrap:after {
  left: 400px;
}

.our-services__col-image-right-last .our-services__img-wrap:after {
  display: none !important;
}

.our-services__col-image-right > .our-services__img-wrap:before {
  left: 415px;
}

.our-services__content-left .our-services__content {
  padding-left: 50px;
  padding-right: 130px;
}
.about:before {
  content: url(./images/icons/about-mask.svg);
  z-index: 10;
  position: absolute;
  left: -400px;
  top: -30px;
  right: 0;
  margin: auto;
  overflow: hidden;
}

.our-services__headline {
  font-size: 36px;
  font-weight: bold;
  position: relative;
  margin-bottom: 25px;
}
.our-services__headline:before {
  content: "";
  width: 120px;
  background: #928600;
  bottom: -15px;
  height: 1px;
  left: 0;
  position: absolute;
}

.our-services__img-wrap:before {
  content: "";
  width: 150px;
  position: absolute;
  height: 150px;
  background: #fdef58;
  left: -20px;
  top: -20px;
  z-index: -9;
  border-radius: 3px;
}

.our-services__img-wrap {
  position: relative;
  left: 0px !important;
  z-index: 9;
  top: -50px;
}
.our-services__btn-wrap {
  margin: 30px 0;
}
.our-services__desc {
  margin-bottom: 40px;
  overflow: hidden !important;
  height: 50px;
}
.our-services__btn {
  color: white !important;
  background: #212121;
  padding: 15px 25px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.205);
  border-radius: 3px;
  font-weight: bold;
}
span.term-name {
  font-weight: bold;
}
.main-js {
  margin-top: 40px;
  box-shadow: 0px 15px 20px #00000020;
}
.children li {
  padding: 10px;
  border: 0.5px solid #bdbdbd !important;
}
.chw-widget.technologies-search ul li ul li ul li {
  border: none !important;
  padding-bottom: 5px !important;
}
.technologies-search ul .cat-item {
  border: none !important;
}

.chw-widget.technologies-search ul li ul li {
  border: 1px solid #bdbdbd !important;
}

.product-search-filter-terms ul li .children li:hover {
  background: #fffac6;
  transition: linear 0.2s all;
}

ul.children {
  border: 0.5px solid #bdbdbd;
}

.newsletter:after {
  content: "";
  background: url(./images/Foto/farba3.png) no-repeat;
  width: 330px;
  height: 400px;
  bottom: -165px;
  right: 0;
  position: absolute;
  z-index: 9;
}
.news:before {
  content: "";
  background: url(./images/graficke-prvky/Kosostvorce-homepage-spodne.svg)
    no-repeat;
  width: 330px;
  height: 400px;
  bottom: -335px;
  left: 0;
  position: absolute;
  z-index: 9;
}

.features {
  position: relative;
  background: #fafafa;
  z-index: 0;
}
.features:after {
  content: "";
  background: url(./images/graficke-prvky/kosostvorce-pattern-hompage.svg)
    no-repeat;
  width: 85px;
  height: 112px;
  top: 64px;
  right: 0;
  position: absolute;
  z-index: -1;
}

.about-content__box,
.page-support-content__box {
  width: 920px;
  margin: auto;
  padding: 96px;
  background: white;
}
.about__img,
.page-support__img,
.support__img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border: 1px solid black;
}

.features:before {
  content: "";
  background: url(./images/graficke-prvky/S-logo-detial-produktu.svg) no-repeat;
  width: 330px;
  height: 400px;
  bottom: -225px;
  left: 0px;
  position: absolute;
  z-index: 0;
}
li#menu-item-173 {
  border-bottom: 1px solid #d0d0d0;
}
.news {
  background: #fafafa;
}

.news__btn-wrap {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
}
.news__btn {
  border: 1px solid #bbac00;
  border-radius: 3px;
  color: #212121 !important;
  padding: 20px 40px;
}
.news:after {
  content: "";
  background: url(./images/Foto/farba2.png) no-repeat;
  width: 600px;
  height: 400px;
  top: -180px;
  right: 0;
  position: absolute;
  z-index: 9;
}
.news {
  position: relative;
}

.newsletter__input:focus {
  border-radius: 0px !important;
  outline: none;
}

.technologies__title {
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  color: #212121 !important;
  position: relative;
  font-weight: bold;
}

.technologies__content {
  width: 704px;
  left: 0;
  right: 0;
  margin: auto;
  color: #424242;
  margin-bottom: 30px;
}
.mobile-link:hover {
  text-decoration: none !important;
}
.features-boxs-js .features-boxs {
  margin: 0px 60px;
  position: relative;
}
.features-boxs-js {
  display: none;
}
.features-boxs-js .slick-dots {
  text-align: center;
  bottom: 65px;
}

.features-boxs .slick-slide {
  width: 250px !important;
}
.blog-boxs-js {
  display: none;
}
.news-blog__content .blog__title {
  height: 45px;
}

.our-services__col-image-left {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

.our-services__col-image-right {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}
.select2-container .select2-selection--single {
  height: 35px;
}

.chw-title {
  font-size: 24px;
  font-weight: bold;
  color: #424242;
}
.cat-item {
  border: 0.5px solid #bdbdbd;

  background: #fafafa;
}

.technologie-widget__wrap div ul li ul li {
  padding: 10px !important;
  border: none !important;
}
.technologie-widget__wrap div ul li ul li ul {
  border: none !important;
}
.technologie-widget__wrap div ul li ul li ul li {
  border: none !important;
}
li.cat-item.cat-item-30 > a {
  display: none;
}
.technologie-widget__wrap div ul li ul {
  border: none;
}
.cat-item a {
  font-size: 14px;
  color: #212121 !important;
  font-weight: bold;
}
.cat-item a:hover {
  text-decoration: none;
}
.chw-widget ul {
  border: 1px solid #bdbdbd;
}

.technologies-box__desc {
  font-size: 14px !important;
  font-weight: 300 !important;
  color: #616161 !important;
  height: 50px;
  overflow: hidden;
}
.technologies-box__title {
  color: #212121 !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.technologies-box__price-span {
  color: #928600 !important;
  font-size: 24px;
  font-weight: bold;
}
.our-services__col-padding {
  padding-top: 30px;
}

.menu__btn-bar {
  background: #928600;
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  transition: all 0.2s linear;
}
.menu__btn-bar:nth-child(1) {
  top: 0;
}

.menu__btn-bar:nth-child(2) {
  top: 9px;
}

.menu__btn-bar:nth-child(3) {
  top: 9px;
}

.menu__btn-bar:nth-child(4) {
  top: 18px;
}

.menu-opened .menu__btn-bar:nth-child(1) {
  top: 12px;
  transform: rotateZ(45deg);
}
.menu-opened .menu__btn-bar:nth-child(2) {
  opacity: 0;
}

.menu-opened .menu__btn-bar:nth-child(3) {
  opacity: 0;
}

.menu-opened .menu__btn-bar:nth-child(4) {
  top: 12px;
  transform: rotateZ(-45deg);
}

.menu-toggle {
  display: none;
  position: relative;
  width: 30px;
  height: 44px;
  left: 0;
  top: 33px;
  background: transparent;
  border: 0;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0;
  outline: none !important;
  z-index: 9999;
}
section.related.products ul.products li.product a img {
  height: 154px !important;
}
section.related.products
  ul.products
  li.product
  a
  .woocommerce-loop-product__title,
section.related.products ul.products li.product a .product-list__company,
section.related.products ul.products li.product a .price {
  text-align: left !important;
}
section.related.products ul.products li.product a .price {
  margin-bottom: 10px;
}
section.related.products ul.products li.product .add-to-card__stock {
  top: -105px !important;
  text-align: left;
  padding: 0px 30px;
  left: 0;
  width: auto;
}

section.related.products ul.products li.product a .button {
  margin-left: 0px !important;
}

section.related.products ul.products li.product .add-to-card__wrap {
  display: block;
  text-align: center;
  padding-left: 0px;
}
.related .products .products .columns-4 li .add-to-card__wrap a {
  margin-left: 0px !important;
}

.related .products.products ul.products li.product .button {
  margin-left: 0 !important;
}

.cat .product-detail-box {
  box-shadow: none !important;
  border: none;
}

.product-detail-company__title,
.product-detail-company__price {
  color: #616161;
  font-size: 18px;
  position: relative;
  padding: 10px 0px;
}
.product-detail-company__price {
  margin-top: 60px;
}
.product-list__company {
  padding: 0px 30px;
  color: #616161;
  font-size: 14px;
  margin: 10px 0;
  font-weight: 300;
  text-align: left;
  height: 20px;
}

.related-title {
  font-size: 24px;
  font-weight: bold;
  margin: 50px 0px;
  position: relative;
}
.related-title:after {
  content: "";
  width: 70%;
  margin: auto;
  top: 30px;
  height: 8px;
  background: #f9e402;
  position: absolute !important;
  right: 0;
  z-index: -10;
  left: 0;
}

.mobile {
  display: none;
}

.footer:after {
  content: "";
  background: #6b6202 !important;
  height: 1px;
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.footer-box {
  margin-bottom: 40px;
}
span.wpcf7-list-item.first.last {
  margin: 0;
}

input[type="checkbox"] {
  width: 15px;
}
span.wpcf7-list-item-label {
  color: #757575 !important;
  font-size: 14px;
}
.technologies-box__year {
  margin-bottom: 5px !important;
}

.menu-menu-2-container .menu .menu-item a {
  color: #bdbdbd !important;
  font-weight: 300;
}
.menu-menu-2-container .menu .menu-item a:after {
  border-right: none !important;
}

.page-numbers {
  color: #616161 !important;
}

.cat-box:before {
  content: "";
  background: url(./images/graficke-prvky/category-png.svg);
  width: 1460px;
  height: 214px;
  bottom: 30px;
  left: -178px;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

p del span bdi,
p del,
.price del,
.price del span,
.price del span bdi {
  font-size: 18px !important;
  color: #bdbdbd !important;
  font-weight: 600;
}
.term-description {
  display: none;
}

.menu li a:hover {
  text-decoration: none !important;
}
.menu-menu-2-container .menu .menu-item a:hover,
.menu-menu-2-container .menu .menu-item a:focus,
.contact-link:hover,
.contact-link:focus {
  color: white !important;
  transition: linear 0.2s all;
  text-decoration: none !important;
}
.menu-menu-2-container .menu-item a {
  padding: 0px;
}
.menu-menu-2-container .menu .menu-item {
  margin-bottom: 10px !important;
}

.user-link-log {
  position: relative;
}
.user-link {
  padding: 0px 4px;
}
.user-link.user-link-log.user-link-login:after {
  display: none !important;
}

/*     WOOCOMMERCE     */

.woocommerce ul.products li.product a img {
  width: 100%;
  object-fit: cover;
  height: 266px !important;
}
.col-sm-12.col-md-6.col-lg-9.p-cat ul li a img {
  height: 154px !important;
}

input#coupon_code {
  width: 160px;
  padding: 5px !important;
}

form.woocommerce-cart-form {
  margin-top: 50px;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: #212121 !important;
  color: white !important;
}
.woocommerce-input-wrapper {
  width: 100%;
}
.woocommerce form .form-row-first,
.woocommerce-page form .form-row-first {
  width: 50% !important;
}
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {
  width: 50% !important;
}
.woocommerce-info {
  border-top-color: #928600 !important;
}
.float-login {
  float: left;
  margin: 30px 0;
}
p.stock.out-of-stock {
  width: 200px;
}
@media (min-width: 1920px) {
  .cat-box:before {
    width: 1920px;
    left: -408px;
  }
}
@media (max-width: 1200px) {
  .woocommerce ul.products li.product .button {
    padding: 10px !important;
  }
  .cat-box:before {
    display: none;
  }
  div#tab-additional_information {
    float: right;
    top: 580px;
    position: absolute;
    right: 0;
    width: 100%;
  }
  .product-detail__wrapper {
    margin-top: 300px;
  }
  .technologies-box__contact {
    font-size: 14px;
  }
  .our-services__content:before {
    display: none;
  }
  .our-services__content {
    padding: 30px 50px 30px 90px;
  }
  .our-services__img-wrap:before {
    display: none;
  }
  .our-services__col-image-right .our-services__img-wrap:after {
    display: none;
  }
  .our-services__img-wrap:after {
    display: none;
  }
  .woocommerce table.shop_attributes td p {
    width: auto !important;
  }
}

@media (max-width: 1040px) {
  div#tab-additional_information {
    float: right;
    top: 350px;
    position: absolute;
    right: 0;
    width: 100%;
    margin-top: 250px;
  }
  .our-services__content {
    margin-bottom: 70px !important;
  }
  .our-services__content {
    height: auto;
  }
  .our-services__img-wrap {
    padding: 0px 0px;
  }
  .our-services__col-image-left,
  .our-services__col-image-right {
    position: absolute !important;
    top: 120px !important;
  }
  .support-content__box,
  .about-content__box,
  .page-support-content__box {
    width: auto;
  }
  .sing-blog .blog__content {
    width: auto;
    padding: 20px;
  }

  .main-navigation ul {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .newsletter:after,
  .news:after,
  .main:before,
  .main:after,
  .category:before,
  .about:before {
    background: none;
    visibility: hidden;
  }
  .main {
    background-image: none;
    height: auto;
    text-align: center;
  }
  .main-box__title:after {
    margin: auto;
    left: 0;
    right: 0;
    width: 250px;
    height: 10px;
    top: 0;
  }
  .main-box__desc {
    width: auto;
  }
  .main-content {
    margin: 30px 0;
  }
  .main-js {
    margin: 30px 0;
  }
  .slick-dots {
    left: auto;
    width: 100%;
  }
  .category {
    height: auto;
  }
}
@media (max-width: 992px) {
  section.related.products ul.products li.product .add-to-card__stock {
    top: -85px !important;
  }
  .woocommerce nav.woocommerce-pagination {
    text-align: center !important;
  }
  .product-type-variable {
    width: 100% !important;
  }
  .contact-form-desc {
    height: auto;
  }
  .about__title-wrap {
    margin-top: 100px;
  }
  .product-type-simple {
    width: 100% !important;
  }
  .product-detail__wrapper {
    margin-top: 450px;
  }
  .woocommerce div.product div.summary {
    margin-bottom: 2em;
    margin-top: 0px;
  }
  .header-bar {
    padding: 0px;
  }
  .user-link-log:after {
    display: none;
  }
  .main-content-order {
    order: 2 !important;
  }
  .our-services__img-wrap {
    padding: 0px 50px;
  }
  .our-services__content {
    height: auto;
    margin-bottom: 20px;
  }
  .our-services__content {
    padding: 70px 50px 30px 90px !important;
  }
  .our-services__col-image-left,
  .our-services__col-image-right {
    top: 120px !important;
    position: relative !important;
  }
  .our-services__title {
    margin-bottom: 10px !important;
  }
  .our-services__img-wrap {
    padding: 0px 50px;
  }

  .menu-item:hover > .sub-menu {
    top: 10px !important;
    left: 170px !important;
    transition: linear 0.2s all;
  }
  .nav-menu .menu-item a:before {
    background: none;
  }
  .nav-menu .menu-item:after {
    border: none;
  }
  .menu-item a:after {
    border: none;
  }
  .header-search-img {
    left: 10px !important;
  }

  a.user-link.user-link-log.user-link-mobile {
    border: none;
    position: absolute;
    top: 10px;
    justify-content: center;
    align-items: center;
    display: block !important;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px !important;
  }
  .basket__img-mobile {
    position: absolute;
    right: 10px !important;
    top: 12px !important;
    z-index: 999;
  }

  .our-services__content-left {
    order: 2;
  }
  .mobile-link {
    background: #212121;
    padding: 10px 20px;
    border-radius: 3px;
    position: absolute;
    top: -65px;
    right: 0;
  }
  .mobile {
    display: block;
    position: relative;
    z-index: 999;
  }
  .pre-header,
  .user {
    display: none;
  }
  .header-search {
    position: absolute;
    width: 96%;
    top: 90px;
  }
  .site-header {
    padding-bottom: 100px;
  }

  .features-box {
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .contact-info,
  .contact-form,
  .technology-detail__content {
    margin: 30px 0;
  }
  .support-page {
    height: 350px;
  }
}
@media (max-width: 767px) {
  .woocommerce div.product form.cart div.quantity {
    margin: 10px 4px 10px 0;
  }
  .woocommerce div.product form.cart .variations label {
    width: 80px;
  }
  .our-services__img {
    height: auto;
  }
  .technology-detail__img {
    height: auto;
  }
  .contact-form-desc {
    height: auto;
  }
  div#tab-additional_information {
    top: 970px;
  }
  .technology-detail__title {
    font-size: 24px;
  }
  .products-category__btn-wrap {
    margin-top: 15px;
  }
  .technologies__btn-wrap {
    margin-top: 16px !important;
  }
  .technologies__title {
    margin-top: 50px;
  }
  .technologies__content {
    width: auto;
  }
  .newsletter__input {
    width: 100% !important;
  }
  .newsletter__input-wrap {
    width: 90%;
  }
  .our-services__col-image-left,
  .our-services__col-image-right {
    top: 30px !important;
  }
  .header-search {
    width: 90%;
  }
  .mobile-link {
    top: -57px;
  }
  .our-services__img-wrap {
    padding: 0px 30px;
  }
  .our-services__headline {
    font-size: 30px;
  }
  .our-services__content,
  .our-services__content-left .our-services__content {
    padding: 40px;
    top: -100px;
    position: relative;
  }
  .services .support-page {
    height: 430px;
  }
  .support-page:before {
    left: 0;
    right: 0;
  }
  .support-content__box,
  .about-content__box,
  .page-support-content__box {
    padding: 30px;
  }
  .support-page {
    height: 250px;
  }
  .blog-post-items .sing-blog .blog__text {
    height: auto;
  }
  .woocommerce table.shop_attributes {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .search-title {
    margin: 10px 0 !important;
    font-size: 20px;
  }
  .category-box {
    margin-bottom: 0px;
  }
  .contact-form__title,
  .technology-detail__content-title {
    font-size: 20px;
  }
  .technology-detail__subtitle {
    font-size: 18px;
  }
  .support-content__title,
  .about-content__title,
  .page-support-content__title {
    font-size: 20px;
  }
  .blog-posts .breadcrumb-section {
    margin-bottom: 10px;
  }
  .technology-detail__content,
  .contact-form__technologie {
    height: auto;
    padding: 15px !important;
  }
  .product-detail-company__price {
    margin-top: 15px;
  }
  .woocommerce div.product {
    padding: 0;
  }
  .product-detail-company__title {
    font-size: 16px;
  }
  .product_title.entry-title {
    font-size: 20px;
  }
  .cat-box__content {
    width: 90%;
  }
  .cat-box__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .empty-col {
    margin-top: 10px;
  }
  .button-detail-product {
    padding: 14px 14px !important;
  }
  .contact-form-desc {
    margin-top: 100px;
  }
  section.related.products ul.products li.product .add-to-card__stock {
    top: -60px !important;
    text-align: right !important;
    padding: 0px 30px;
    /* right: 0; */
    width: 350px !important;
    margin: auto !important;
  }
  .related.products ul.products li.product .add-to-card__wrap {
    display: block;
    text-align: left !important;
    padding-left: 30px !important;
  }

  .woocommerce ul.products li.product a img {
    height: 128px !important;
  }
  .our-services__content {
    padding: 80px 50px 20px 50px !important;
  }
  .mobile-link {
    right: 30px;
  }
  .about__img,
  .page-support__img,
  .support__img {
    height: auto;
  }
  .support-content__box,
  .about-content__box,
  .page-support-content__box {
    padding: 20px 0px !important;
  }
  .about-content,
  .page-support-content,
  .support-content {
    background: white !important;
  }
  .support-content__title {
    font-size: 20px !important;
  }
  .contact-info,
  .contact-form {
    padding: 20px 30px;
  }
  .gmap_canvas {
    height: 300px !important;
  }
  .contact-map {
    height: 308px;
  }
  .newsletter__input {
    width: auto;
  }
  .sub-menu li a {
    width: auto;
    font-size: 12px !important;
    padding: 5px !important;
  }
}
@media (max-width: 476px) {
  .technology-detail__price {
    font-size: 24px;
  }
  .technology-detail__price-box {
    font-size: 24px;
  }
  .technology-detail__content {
    padding: 30px;
  }
  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    left: 160px;
    top: 5px;
  }
  div#tab-additional_information {
    top: 750px;
  }
  .related-title:after {
    top: 50px;
  }
  section.related.products ul.products li.product .add-to-card__stock {
    width: auto !important;
  }
  .woocommerce div.product div.images {
    padding-bottom: 0px;
  }

  .woocommerce div.product div.summary {
    margin-bottom: 2em;
    margin-top: 50px;
  }

  .product-detail__wrapper {
    margin-top: 390px;
  }
  .support-content__title {
    font-size: 20px;
  }
  .support-page__title {
    font-size: 24px;
  }
  .main-box__title {
    font-size: 30px;
  }
  .wpcf7-form-control.wpcf7-submit.newsletter__buton {
    width: 100px !important;
  }
  .our-services__img-wrap {
    padding: 0px 20px;
  }
  .our-services__col-image-right > .our-services__img-wrap:before,
  .our-services__img-wrap:before {
    left: 0px !important;
  }
  .our-services__img-wrap:before {
    width: 140px;
    height: 140px;
    left: 15px;
    top: -20px;
    display: block !important;
  }
  .main-js {
    margin: 0px 0;
    margin-bottom: 30px;
  }
  .about-bcg {
    height: auto;
  }
  .our-services__content {
    margin-bottom: -40px !important;
  }
  .our-services__title {
    margin-bottom: 60px !important;
  }
  .our-services__content {
    padding: 80px 30px 20px 30px !important;
  }
  .our-services__headline:before {
    right: 0;
    margin: auto;
  }
  .our-services__content,
  .our-services__content-left .our-services__content {
    padding: 40px;
    top: -100px;
    position: relative;
    text-align: center;
  }
  .our-services__headline {
    font-size: 18px;
  }
  .features-box {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  .features-boxs-js .slick-dots {
    bottom: 20px !important;
  }
  .main-js .slick-dots {
    bottom: -40px;
  }
  .main-img {
    height: 230px !important;
  }
  .menu-item:hover > .sub-menu {
    top: 10px !important;
    left: 50% !important;
    transition: linear 0.2s all;
  }
  .main-navigation ul ul a {
    width: 150px;
  }
  .nav-menu .menu-item a {
    font-size: 14px;
  }
  .header-input {
    padding: 15px 40px !important;
  }
  .mobile-link {
    top: -58px;
    padding: 10px 10px;
    right: 0px !important;
  }
  .header-search {
    width: 90%;
  }
  .blog-post-items .sing-blog {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .blog-post-items .blog__button-wrap {
    margin-bottom: 5px;
    margin-top: 25px;
  }
  .footer-box {
    padding: 0px 50px;
  }
  .features-boxs-js {
    display: block;
  }
  .features-boxs {
    display: none;
  }
  .blog-boxs-js {
    display: block;
  }

  .blog-boxs {
    display: none;
  }
  .news .slick-dots {
    text-align: center;
    bottom: 10px;
  }
  .features-boxs-js .features-boxs {
    margin: 0;
  }
  .features:after,
  .features:before,
  .news:before {
    display: none;
  }
  .partners-item__img-wrap {
    margin-bottom: 30px;
  }

  .about__content {
    font-size: 16px;
  }
  .about-bcg:before {
    left: 0;
    right: 0;
  }
  .about__content-wrap {
    width: auto;
    padding: 0px 20px !important;
  }
  .partners__title-wrap,
  .about__title-wrap,
  .news__title-wrap {
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .about__btn-wrap {
    margin-bottom: 5px;
  }
  .newsletter__title {
    font-size: 18px;
  }
  .newsletter__wrap {
    margin: 30px 0;
  }
  .newsletter__subtitle {
    font-size: 14px;
  }
  .newsletter__input {
    padding: 10px 10px !important;
  }
  .footer__img-wrap {
    margin: 30px 55px;
    text-align: center;
    border-bottom: none;
  }
  .footer__img {
    margin-bottom: 10px;
  }
  .footer__copy {
    font-size: 14px;
  }
  .category-box__img {
    height: 112px;
    width: 100%;
    object-fit: cover;
  }
  .category__title {
    font-size: 20px;
  }
  .our-services__title,
  .news__title,
  .partners__title {
    font-size: 24px;
  }
  .our-services__title-wrap,
  .category__title-wrap {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .newsletter__buton {
    padding: 13px 20px !important;
  }
  .header-input {
    padding: 15px 10px !important;
  }
  .header-search-img {
    display: none !important;
  }
}

@media (max-width: 387px) {
  .breadcrumb-link {
    font-size: 12px;
  }
  section.related.products ul.products li.product .add-to-card__stock {
    top: -95px !important;
    padding: 0px 0px;
    margin: auto !important;
    text-align: left !important;
  }
  .add-to-card__stock {
    left: 15px;
  }
  div#tab-additional_information {
    top: 800px !important;
  }
  .products-box__price,
  span.woocommerce-Price-amount.amount {
    font-size: 18px;
  }
  td.product-name a {
    font-size: 16px;
  }
  input#coupon_code {
    width: 100%;
    padding: 5px !important;
    margin-bottom: 15px;
  }
}
@media (max-width: 350px) {
  .header-btn {
    padding: 13px 20px !important;
  }
  .news .sing-blog .blog__text {
    height: 90px;
  }
  .category-box__btn {
    padding: 14px 0px;
    width: 95%;
    font-size: 14px;
  }
  .category-box {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .news__btn {
    padding: 10px 25px;
  }
  .news__btn-wrap {
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .mobile-link {
    font-size: 12px;
    right: 10px;
    top: -53px;
  }
  .newsletter__input {
    padding: 14px 10px !important;
    font-size: 11px !important;
  }
  .newsletter__title {
    font-size: 16px;
  }
  .our-services__img-wrap:before {
    width: 80px;
    height: 80px;
  }
  .about__content-wrap {
    padding: 0px 0px !important;
  }
  .footer-box {
    margin: 0px 0px;
    padding: 0px;
    margin-bottom: 25px;
  }
  .footer__copy {
    font-size: 11px;
  }
  .support-page__title:after {
    width: 200px;
  }
}

@media (max-width: 300px) {
  .mobile-link {
    font-size: 10px !important;
    right: 0px;
    top: -48px;
  }
}
