@font-face {
    font-family: 'Muli';
    src: local('Muli ExtraLight Italic'), local('Muli-ExtraLightItalic'),
        url('subset-Muli-ExtraLightItalic.woff2') format('woff2'),
        url('subset-Muli-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli Black Italic'), local('Muli-BlackItalic'),
        url('subset-Muli-BlackItalic.woff2') format('woff2'),
        url('subset-Muli-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli ExtraLight'), local('Muli-ExtraLight'),
        url('subset-Muli-ExtraLight.woff2') format('woff2'),
        url('subset-Muli-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli SemiBold Italic'), local('Muli-SemiBoldItalic'),
        url('subset-Muli-SemiBoldItalic.woff2') format('woff2'),
        url('subset-Muli-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli SemiBold'), local('Muli-SemiBold'),
        url('subset-Muli-SemiBold.woff2') format('woff2'),
        url('subset-Muli-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli Bold'), local('Muli-Bold'),
        url('subset-Muli-Bold.woff2') format('woff2'),
        url('subset-Muli-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli Light Italic'), local('Muli-LightItalic'),
        url('subset-Muli-LightItalic.woff2') format('woff2'),
        url('subset-Muli-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli Bold Italic'), local('Muli-BoldItalic'),
        url('subset-Muli-BoldItalic.woff2') format('woff2'),
        url('subset-Muli-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli Light'), local('Muli-Light'),
        url('subset-Muli-Light.woff2') format('woff2'),
        url('subset-Muli-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli Black'), local('Muli-Black'),
        url('subset-Muli-Black.woff2') format('woff2'),
        url('subset-Muli-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli ExtraBold'), local('Muli-ExtraBold'),
        url('subset-Muli-ExtraBold.woff2') format('woff2'),
        url('subset-Muli-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli ExtraBold Italic'), local('Muli-ExtraBoldItalic'),
        url('subset-Muli-ExtraBoldItalic.woff2') format('woff2'),
        url('subset-Muli-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli Italic'), local('Muli-Italic'),
        url('subset-Muli-Italic.woff2') format('woff2'),
        url('subset-Muli-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: local('Muli Regular'), local('Muli-Regular'),
        url('subset-Muli-Regular.woff2') format('woff2'),
        url('subset-Muli-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

